.App {
  text-align: center;
  
}
.body{
  background-color: aliceblue;
}
button{
  padding: 10px 70px;
  border-style:inherit;
  border: #61dafb;
  border-radius: 10px;
}
button:hover{
  background-color: rgb(172, 172, 185);
  color: azure;
}
input,select{
  padding: 10px;
  border-radius: 6px;
  border: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(162, 118, 204);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a{
  text-decoration: none;
  color: rgb(10, 0, 0);
  padding:0px 8px;
  border-radius: 3px;
}
a:hover{
  background-color: rgb(92, 92, 190);
  color: azure;
 
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #61dafb;
  
}

.main-post{
  margin-top: 20px;
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
}
.post-card{
  background-color: rgb(220, 229, 236);
  width: 80%;
  padding: 10px;
  text-align: left;
  margin: auto;
  margin-top: 10px;
  border-radius: 8px;
  border: #9c9c9cbe;
}